<h2>{{ isEdit ? 'Kullanıcı Düzenle' : 'Yeni Kullanıcı' }}</h2>

<form (ngSubmit)="save()" #userForm="ngForm">
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Ad</mat-label>
    <input matInput name="name" [(ngModel)]="user.name" required />
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Email</mat-label>
    <input matInput type="email" name="email" [(ngModel)]="user.email" required />
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Şifre</mat-label>
    <input matInput type="password" name="password" [(ngModel)]="user.password" [required]="!isEdit" />
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Kaydet</button>
</form>
