<div class="top-actions">
  <h2>Kullanıcı Listesi</h2>
  <a [routerLink]="['/users/new']">
    <button mat-raised-button color="primary">Yeni Kullanıcı Ekle</button>
  </a>
</div>

<table mat-table [dataSource]="users" class="mat-elevation-z8">

  <!-- ID -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let user">{{ user.id }}</td>
  </ng-container>

  <!-- Ad -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Ad</th>
    <td mat-cell *matCellDef="let user">{{ user.name }}</td>
  </ng-container>

  <!-- Email -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef>Email</th>
    <td mat-cell *matCellDef="let user">{{ user.email }}</td>
  </ng-container>

  <!-- Actions -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>İşlem</th>
    <td mat-cell *matCellDef="let user">
      <a [routerLink]="['/users', user.id]">
        <button mat-button color="primary">Düzenle</button>
      </a>
      <button mat-button color="warn" (click)="deleteUser(user.id)">Sil</button>
    </td>
  </ng-container>

  <!-- Header ve Row -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

</table>
